/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: #222a68;
  --secondary: #eaf2ef;
  --accent: #99240a;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  height: auto;
  width: 100%;
}

main {
  width: 100%;
  z-index: 0;
  /* background-color: var(--main); */
}

body {
  font-family: var(--text);
  transition: all 0.3s;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
/* Nav */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

nav .open-color {
  color: #7785ac;
}

nav .open-color div {
  border-bottom: 3px solid var(--accent) !important;
}

.blur {
  backdrop-filter: blur(4px);
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 5px 0;
}

#logo .logo-content {
  display: flex;
  flex-direction: row;
}

#logo .logo-content div {
  width: 60px;
  font-size: 26px;
  line-height: 26px;
}
#logo .logo-content span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

#logo .open-color {
  color: black;
}

nav .menu-background {
  width: 25px;
  margin: 5px 0;
  border-bottom: 3px solid #fff;
}

#nav-icon {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

#nav-icon .top-bottom {
  width: 60%;
  transition: all 0.3s ease-in-out;
}

#nav-icon .middle {
  transition: all 0.3s ease-in-out;
}

#nav-icon .top-bottom:last-child {
  margin-left: 50%;
}

/* HAMBURGER ANIMATION */

#nav-icon.open-color .top-bottom:first-child {
  width: 26px;
  transform: translate(0px, 8px) rotate(225deg);
}

#nav-icon.open-color .top-bottom:last-child {
  opacity: 0;
  transform: rotate(225deg);
}

#nav-icon.open-color .middle {
  width: 26px;
  transform: rotate(-225deg);
}

/* END OF HAMBURGER ANIMATION */

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  color: #000;
  background: linear-gradient(-45deg, var(--main), var(--secondary), var(--secondary));
  background-size: 150% 150%;
  background-position: 100% 75%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

#menu li {
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

#menu.open {
  visibility: visible;
  opacity: 1;
}

/* End of Nav */

/* section {
  max-width: 800px;
} */

/* Landing Page */

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  top: 0px;
  background: linear-gradient(-45deg, var(--main), var(--main), var(--accent), #efa810);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.logo {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
}

.logo-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: all 0.3s;
}

.logo-content div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  line-height: 40px;
  border: 5px solid;
  border-image-source: url("../images/gradient.jpg");
  border-image-slice: 30 60;
  font-size: 50px;
  text-align: center;
}

.subtext {
  padding: 2px;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
}

#download {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s;
}

#download:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* End of Landing Page */

/* Content */

#primary-bg {
  color: var(--secondary);
  background-color: var(--main);
}

#primary-bg article:nth-child(1) {
  padding-top: 100px;
}

.content-format {
  max-width: 900px;
  text-align: center;
  margin: auto;
  padding: 0 45px 100px 45px;
}

.content-format h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content-header {
  margin: 0 0 20px 0;
  font-size: 16px;
}

.underline {
  margin: 6px auto;
  height: 6px;
  max-width: 50px;
  background-color: var(--accent);
}

/* End of Content */

/* Skills Section */

.lists-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lists-container h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.lists-container .list:nth-child(1) {
  text-align: left;
}

.lists-container .list:nth-child(2) {
  text-align: right;
}

.lists-container li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.list .underline {
  width: 50px;
  max-width: 50px;
}

.list:nth-child(1) .underline {
  margin-left: 0;
}

.list:nth-child(2) .underline {
  margin-right: 0;
}

.list ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.list ul li {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  background-color: rgba(153, 36, 10, .5);
  transition: background-color 0.3s, 
    transform 0.3s,
    box-shadow 0.3s;
}

.list ul li:hover {
  background-color: var(--accent);
  transform: scale(1.5) rotate(45deg);
  box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.25);
}

.list ul li i,img {
  transform: rotate(-45deg);
}

.list ul li i {
  font-size: 40px;
}

.list ul li.null-li {
  background-color: var(--main);
}

.list ul li.null-li:hover {
  box-shadow: none;
}

.list ul li.null-li div {
  padding: 8px;
  background-color: rgba(153, 36, 10, .5);
}

.list ul li.null-li div div {
  padding: 8px;
  background-color: var(--secondary);
}

#frontend li {
  left: -150px;
}

#backend li {
  right: -150px;
}

/* End of Skills Section */

#secondary-bg {
  background-color: var(--secondary);
  border-bottom: solid 1px var(--secondary);
  height: 100%;
}

/* Projects */

#secondary-bg article:nth-child(1) {
  padding-top: 100px;
}

/* .projects-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.projects-nav ul li {
  display: inline;
}

.projects-nav ul {
  width: 285px;
  margin: auto;
  text-align: center;
  white-space: nowrap;
}

.projects-nav li {
  font-size: 12px;
  cursor: pointer;
  padding: 10px 6px 8px 6px;
}

.nav-underline hr {
  height: 4px;
  width: 33.35px;
  margin: 4px 0 0 2px;
  background-color: var(--secondary);
  border: none;
  transition: all 0.3s;
} */

/* PROJECT NAV ANIMATION */

/* #_all {
  width: 33.36px;
  margin-left: 9px;
}

#_js {
  width: 84.24px;
  margin-left: 47.35px;
}

#_react {
  width: 52.67px;
  margin-left: 135.59px;
}

#_ruby {
  width: 83.36px;
  margin-left: 192.28px;
} */

/* END OF PROJECT NAV ANIMATION */

.projects-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-container ul {
  list-style: none;
}

.projects-container li {
  white-space: nowrap;
  min-width: 270px;
  min-height: 250px;
  max-width: 270px;
  /* flex-grow: 1; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project {
  position: relative;
  height: 100%;
  background-color: var(--secondary);
  opacity: 0;
  transition: opacity 0.5s;
}

.project:hover {
  opacity: 1;
}

.gone {
  display: none;
  transform: scale(0.25);
  transition: all 0.3s;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px;
  transition: all 0.3s;
}

.project-content-top p:nth-child(1) {
  font-size: 22px;
  font-weight: bold;
}

.project-content-top p:nth-child(2) {
  font-size: 16px;
  color: #7785ac;
}

.project-content-bottom {
  width: 150px;
  padding: 10px;
  margin: auto;
  font-size: 14px;
}

/* End of Projects */

/* Form */

.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-container input,
textarea {
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  background: transparent;
}

.form-container textarea {
  border: 2px solid var(--accent);
}

.form-container input {
  padding: 15px 5px 5px 5px;
  border-bottom: 2px solid var(--accent);
}

.form-container input::-webkit-input-placeholder {
  transition: all 0.3s;
}

.form-container input:focus::-webkit-input-placeholder {
  transform: translate(-40px, -15px) scale(0.75);
}

#secondary-bg article:last-child {
  padding: 100px 20px;
}

.form-container div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.submit {
  width: 100px;
  padding: 5px;
}

/* End of Form */

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, .5);
  background-color: #2a2a2a;
  padding: 25px;
  font-size: 10px;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin: 0 10px 0 10px;
  transition: all 0.3s;
}

footer ul li:hover {
  color: #fff;
}

/* End of Footer */

/* MODAL */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-container {
  height: 600px;
  width: 300px;
  background-position: center !important;
  background-size: cover !important;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(5px);
}

.modal-header {
  margin: 10px;
  font-weight: bold;
}

.modal-desc {
  margin-top: 20px;
  padding: 0 20px;
  font-size: 14px;
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  font-size: 14px;
  margin-bottom: 15px;
}

.modal-links .button {
  font-size: 12px;
  padding: 6px 12px;
}


/* END OF MODAL */

.button {
  border: 2px solid #99240a;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: #99240a;
  color: #eaf2ef;
}

@media (min-width: 768px) {
  .list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  .list ul li i {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
  }

  nav {
    padding: 20px 180px;
  }

  .modal-container {
    height: 400px;
    width: 400px;
  }
}

@keyframes gradient {
  0% {
    background-position: 10% 10%;
  }
  50% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 10% 10%;
  }
}

/*  */

.dark-text .logo-content {
  color: rgba(0, 0, 0, 0.8);
}

.black-text .logo-content {
  color: rgba(0, 0, 0, 0.8);
}

.black-text .menu-background {
  border-color: rgba(0, 0, 0, 0.8);
}
