/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
  font-family: Arial, Helvetica, sans-serif;
}

main {
  z-index: 0;
  background-color: #E86B52;
}


body {
  font-family: var(--text);
  transition: all 0.3s;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */
/* Nav */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  transition: all 0.3s;
}

nav .open-color {
  color: #E86B52;
}

nav .open-color div {
  border-bottom: 3px solid #E86B52;
}

nav #logo {
  margin: 5px 0;
}

nav .menu-background {
  width: 25px;
  margin: 5px 0;
  border-bottom: 3px solid #fff;
}

#menu {
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  color: #E86B52;
  background-color: #fff;
  transition:  all 1s;
}

#menu li {
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

.open {
  display: flex;
}

.closed {
  display: none;
}

/* End of Nav */

/* section {
  max-width: 800px;
} */

/* Landing Page */

#landing-page {
  height: 100vh;
  position: relative;
  top: -58px;
  background: #E86B52;
}

#bg-top {
  height: 55vh;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(231, 80, 49, 1));
}

#bg-bottom {
  height: 45vh;
  background: linear-gradient( rgba(231, 80, 49, 0.75), rgba(255, 255, 255, 0));
}

#bg-bottom h2 {
  position: relative;
  width: 350px;
  margin: auto;
  top: -40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 4px;
  color: #f9ff47;
  box-shadow: 0px 50px 15px -30px rgba(0,0,0,0.5);
}

/* End of Landing Page */

/* Content */

#primary-bg {
  color: #fff;
}

.content-format {
  text-align: center;
  margin: 0 45px 140px 45px;
}

.content-format h3 {
  padding: 0 0 20px 0;
  margin: 0 0 25px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* End of Content */

/* Skills Section */

.lists-container {
  display: flex;
  justify-content: space-between;
}

.lists-container h2 {
  margin: 0 0 15px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.lists-container li {
  margin: 0 0 15px 0;
  font-size: 12px;
}

.lists-container ul li:last-child {
  margin: 0;
}


/* End of Skills Section */

#secondary-bg {
  background-color: #ffffff;
}

/* Projects */

#secondary-bg section:nth-child(1) {
  padding-top: 100px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.projects-container ul {
  list-style: none;
}

.projects-container li {
  min-width: 200px;
  min-height: 250px;
  flex-grow: 1;
  background-color: lightblue;
  border-bottom: solid 1px white;
}

/* End of Projects */

/* Form */

.form-container {
  display: flex;
  justify-content: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-container input, textarea {
  margin-bottom: 5px;
}

#secondary-bg section:last-child {
  margin-bottom: 100px;
}

/* End of Form */

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.1);
  background-color: #2a2a2a;
  padding: 25px;
  font-size: 10px;
}

footer ul {
  display: flex;
  flex-direction: row;
}

/* End of Footer */

